---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/solar_resource/v1.json?address=95694
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - BkgmGhQer1SfUO2xgYHj2v55FU8z3vlOL5IyEFzK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      Etag:
      - W/"ae8d34a7cbc5b5f2451edcfcc230a0dd"
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","warnings":[],"errors":[],"metadata":{"sources":["Perez-SUNY/NREL,
        2012"]},"inputs":{"address":"95694"},"outputs":{"avg_dni":{"annual":5.66,"monthly":{"jan":2.59,"feb":3.29,"mar":5.24,"apr":6.46,"may":7.4,"jun":8.27,"jul":8.4,"aug":7.83,"sep":6.8,"oct":5.24,"nov":3.61,"dec":2.65}},"avg_ghi":{"annual":5.04,"monthly":{"jan":2.01,"feb":2.88,"mar":4.71,"apr":6.14,"may":7.31,"jun":8.04,"jul":7.94,"aug":7.07,"sep":5.75,"oct":4.1,"nov":2.59,"dec":1.87}},"avg_lat_tilt":{"annual":5.75,"monthly":{"jan":3.26,"feb":4.13,"mar":5.92,"apr":6.55,"may":6.92,"jun":7.19,"jul":7.33,"aug":7.31,"sep":6.99,"oct":5.88,"nov":4.25,"dec":3.24}}}}'
  recorded_at: Tue, 10 Apr 2018 15:15:28 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/cleap/v1/energy_expenditures_and_ghg_by_sector.json?zip=95694
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - BkgmGhQer1SfUO2xgYHj2v55FU8z3vlOL5IyEFzK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      Etag:
      - W/"45487db7568d46815e1b448485c72a12"
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[],"inputs":{"zip":"95694"},"metadata":{"version":"1.0.0"},"result":{"Winters":{"residential":{"housing_units":2134,"total_pop":6644,"elec_1kdollars":2747,"elec_mwh":15697,"gas_1kdollars":1190,"gas_mcf":121615,"elec_1kdollars_bin_min":null,"elec_1kdollars_bin_max":null,"elec_mwh_bin_min":null,"elec_mwh_bin_max":null,"gas_1kdollars_bin_min":null,"gas_1kdollars_bin_max":null,"gas_mcf_bin_min":null,"gas_mcf_bin_max":null,"elec_lb_ghg":10303443,"elec_min_lb_ghg":6528,"elec_max_lb_ghg":389577707,"gas_lb_ghg":14598992,"gas_min_lb_ghg":1200,"gas_max_lb_ghg":240313464},"commercial":{"num_establishments":118,"elec_1kdollars":2048,"elec_mwh":14181,"gas_1kdollars":115,"gas_mcf":33855,"elec_1kdollars_bin_min":null,"elec_1kdollars_bin_max":null,"elec_mwh_bin_min":null,"elec_mwh_bin_max":null,"gas_1kdollars_bin_min":null,"gas_1kdollars_bin_max":null,"gas_mcf_bin_min":null,"gas_mcf_bin_max":null,"elec_lb_ghg":9257157,"elec_min_lb_ghg":6528,"elec_max_lb_ghg":346690215,"gas_lb_ghg":4064054,"gas_min_lb_ghg":1200,"gas_max_lb_ghg":163834266},"industrial":{"num_establishments":33,"elec_1kdollars":1054,"elec_mwh":10529,"gas_1kdollars":448,"gas_mcf":124019,"elec_1kdollars_bin_min":null,"elec_1kdollars_bin_max":null,"elec_mwh_bin_min":null,"elec_mwh_bin_max":null,"gas_1kdollars_bin_min":null,"gas_1kdollars_bin_max":null,"gas_mcf_bin_min":null,"gas_mcf_bin_max":null,"elec_lb_ghg":6873096,"elec_min_lb_ghg":6528,"elec_max_lb_ghg":767405417,"gas_lb_ghg":14887575,"gas_min_lb_ghg":7683,"gas_max_lb_ghg":1441016479}}}}'
  recorded_at: Tue, 10 Apr 2018 15:15:28 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=3440%20W%20131st%20Ave%20Broomfield%20CO&key=AIzaSyBQAaYmOjUqoZjoJlRuh0PpisLLsTzsDcg&origins=15013%20Denver%20W%20Pkwy%20Golden%20CO&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "3440 W 131st Ave, Broomfield, CO 80020, USA" ],
           "origin_addresses" : [ "15013 Denver W Pkwy, Golden, CO 80401, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "23.3 mi",
                          "value" : 37523
                       },
                       "duration" : {
                          "text" : "30 mins",
                          "value" : 1776
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 10 Apr 2018 15:15:29 GMT
recorded_with: VCR 4.0.0
